// .faq {
//   padding: 0 80px;

//   @include bp-md {
//     padding: 0 24px;
//   }

// }

.c-faq__inner {
  padding: 0 80px;
  margin: 0 auto;

    @include bp-md {
    padding: 0 24px;
  }
}

.c-faq__title {
  text-align: center;
}
