.c-heading {
  max-width: 78rem;
  margin-bottom: 48px;

  @include bp-sm {
    margin-bottom: 4rem;
  }
}

.c-heading__title {
  @include type-headline-2;
  color: $color-black;
}

.c-heading__description {
  margin-top: 2rem;
  @include type-body-1;
  color: $color-text-secondary;

  @include bp-sm {
    margin-top: $indent-m;
  }
}
